@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Spectral+SC:wght@200&display=swap");
* {
	padding: 0;
	margin: 0;
}
.title h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
}
.title h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}
body{
    background-color: #71E3E3;
}
.title {
	text-align: center;
	background-color: #71E3E3;
	width: 100%;
	padding: 20px 0 ;
}
a{
	color: black;
	padding-left: 30px;
}
nav {
	background-color: #E2A508;
	padding: 20px 0;
	padding-left: 20px;
	font-size: 25px;
}
.garis{
	text-decoration: none;
}
.highlight{
	display: flex;
	justify-content: center;
	padding: 20px;
}
.light{
	display: flex;
	justify-content: center;
	padding: 20px;
}
.container{
	text-align: center;
	padding: 20px 0;
	position: absolute;
	font-size: 25px;
	width: 100%;
	background: #E2A508;
}