@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Spectral+SC:wght@200&display=swap");
* {
	padding: 0;
	margin: 0;
	
}


.title {
	text-align: center;
	background-color: #71E3E3;
	width: 100%;
	padding: 20px 0 ;
	font-family: Spectral SC;
}


nav {
	background-color: #E2A508;
	padding: 20px 0;
	padding-left: 20px;
	font-size: 25px;
}

.btn-outline-success {
	display: block;
	top: 10 !important;
	background-color: #27CBEF;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}

a{
	color: black;
	padding-left: 30px;
}

.login {
	float: right;
	padding-right: 20px;
}

.jumbotron {
	background-image: url('download.png');
	background-size: cover;
	height: 500px;
}

.jumbotron .content {
	color:white;
	font-size: 20px;
	line-height: 50px;
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 20px;
}

.highlight {
	align-items: center;
	background-color: #71E3E3;
	padding: 30px;	
}

.highlight h1 {
	margin-bottom: 20px;
}

.highlight-content {
	display: flex;
	justify-content: center;
	padding: auto;
}
.highlight img {
	width: 600px;
	height: 370px;
}
.title h1{
	font-family: 'Spectral SC', serif;
	font-size: 45px;
}
.title h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}
.mobil {
	background-color: #71E3E3;
}
.container{
	text-align: center;
	padding: 20px 0;
	position: absolute;
	font-size: 25px;
	width: 100%;
	background: #E2A508;
}
.garis{
	text-decoration: none;
}
.tulis{
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
	padding-top: 80px;
	padding-left: 20px;
}
.mobil{
	font-size: 15px;
	padding-bottom: 50px;
	padding-top: 40px;
	padding-bottom: 70px;
	padding-left: 20px;
}
ul{
	display: grid;
	list-style-type: none;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
}
.fa-twitter{
	padding: 0 5px 0 5px;
	padding-top: 10px;
}
.ikuti{
	margin-left: 500px;
}


